%h1
  = @game_space.name
  = content_tag(:span, 'LIVE', class: 'live') if @game_space.public
- if @game_space.public
  = link_to 'End Live', live_toggle_game_space_path(@game_space), method: :patch, class: 'button', remote: true
- else
  %p In order to show your players the current initiative tracker, you'll need to put this game space live.
  = link_to 'Put Live!', live_toggle_game_space_path(@game_space), method: :patch, class: 'button', remote: true
