%h1= @game_space.name
.encounter-holder
  = render '/encounters/guest'
:javascript
  $('document').ready(function() {
      var timeBetweenRefresh = 1500;

      function updateEncounter() {
          $.ajax({
              url: '#{game_space_guest_view_url(@game_space, pass: @game_space.link)}',
              dataType: 'script',
              success: function() {
                  setTimeout(updateEncounter, timeBetweenRefresh);
              },
              error: function() {
                  alert('Disconnected.');
              }
          });
      }

      setTimeout(updateEncounter, timeBetweenRefresh);
  });
