%h1 All Creatures

- if @players.any?
  %h2 Players
  %ul
    = render @players
- if @npcs.any?
  %h2 NPCs
  %ul
    = render @npcs
- if @events.any?
  %h2 Events
  %ul
    = render @events
- if @players.none? && @npcs.none? && @events.none?
  %p Looks like you don't have any creatures.
= link_to 'New Creature', new_creature_path, class: 'button'
