%h1 All Creatures

- if @players.any?
  %h2 Players
  %ul
    - @players.each do |player|
      %li= link_to player.name, creature_path(player)
- if @npcs.any?
  %h2 NPCs
  %ul
    - @npcs.each do |npc|
      %li= link_to npc.name, creature_path(npc)
- if @events.any?
  %h2 Events
  %ul
    - @events.each do |npc|
      %li= link_to event.name, creature_path(event)
- if @players.none? && @npcs.none? && @events.none?
  %p Looks like you don't have any creatures.
= link_to 'New Creature', new_creature_path
