@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=PT+Serif:wght@400;700&family=UnifrakturMaguntia&display=swap');
$logo-font: UnifrakturMaguntia, 'PT Serif', Georgia, serif;
$heading-font: 'PT Serif', Georgia, serif;
$body-font: 'Open Sans', Helvetica, Arial, sans-serif;

$dark-blue: #2364aa;
$light-blue: #3da5d9;
$lavender-blush: #f7ebec;
$gray: #e5dcdc;
$green: #bce784;
$red: #cf4d6f;
