.field-holder {
  .field {
    margin-bottom: 20px;

    label:first-child {
      display: block;
    }

    input {
      &[type="text"],
      &[type="number"] {
        width: 100%;
        max-width: 300px;
      }

      &[type="radio"],
      &[type="checkbox"] {
        margin-right: 2px;

        & + label {
          margin-right: 10px;
        }
      }
    }

    .sol-container {
      max-width: 300px;

      .sol-selection-container {
        height: 500px;
        max-height: 90vh;
        overflow-y: scroll;

        .sol-checkbox, .sol-radio {
          top: 8px;
        }
      }
    }

    error {
      color: $red;
      font-size: 14px;
    }
  }

  &.player .hide-for-player,
  &.npc .hide-for-npc,
  &.event .hide-for-event {
    display: none;
  }
}
