.live-area-holder {
  h1 {
    .live {
      color: #fff;
      background-color: $red;
      display: inline-block;
      padding: 0 10px;
      border-radius: 5px;
      font-size: 15px;
      vertical-align: middle;
    }
  }
}
