header {
  .login-buttons {
      text-align: right;
  }

  .site-title {
    font-family: $logo-font;
    font-size: 45px;
    font-weight: bold;
    text-decoration: none;
    color: $dark-blue;
  }
}

main {
  background-color: $gray;
}

footer {
  .copyright {
    text-align: center;
  }
}
