header {
  .login-buttons {
      text-align: right;
  }

  .site-title {
    font-family: $logo-font;
    font-size: 45px;
    font-weight: bold;
    text-decoration: none;
    color: $dark-blue;
  }
}

main {
  position: relative;
  background-color: $gray;

  @media screen and (min-width: 1200px) {
    margin-top: 5px;
    margin-bottom: 15px;

    &:before, &:after {
      content: '';
      position: absolute;
      border-style: solid;
    }

    &:before {
      border-color: transparent transparent $gray;
      border-width: 0 600px 20px;
      top: -20px;
    }

    &:after {
      border-color: $gray transparent transparent;
      border-width: 20px 600px 0;
      bottom: -20px;
    }
  }

  .clear-both { clear: both; }
}

footer {
  .copyright {
    text-align: center;
  }
}
